<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header class="menu"></header>
    <div class="main-content">
        <h1>
            <%= title %>
        </h1>
        <div class="anchor">
            <a href="/skills">//View the Dev Skill set list --> </a>
        </div>
    </div>
</body>

</html>