<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cat Collector</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}

    <h1>About the Mug Collector</h1>
    <hr />
    <h5>
      Mugs are great and everyone should have a different mug for every day of
      the week
    </h5>
    <footer>All Rights Reserved, &copy; 2021 Mug Collector</footer>

    {% endblock %}
  </body>
</html>
